* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  :root {
    --background-color:black;
    --primary-color: #92c741;
    --secondary-color:  #ff821f;
  }
  body,
  html {
    background-color: var(--background-color);
    color: var(--secondary-color);
    margin: 0;
    text-align: center;
  }
  .form{
      margin: 1%;
      padding: 1%;
      text-align: center;
  }
  .form1{
    margin: 1%;
    padding: 1%;
    width: 80%;
    text-align: center;
  }
  .form2{
    margin: 1%;
    padding: 1%;
    width: 80%;
    height:100px;
    text-align: center;
  }